*{
    font-family: "Montserrat Classic", "Roboto";
    padding: 0;
    margin: 0;
 }

 .bg_navbar{
    background-color: #0077B6 !important;
    box-shadow: 7px 7px 7px rgba(0, 0, 0.0, 0.1);
   
}
  
    .logo{
     
     max-width: 45%;
      height: auto;
   
    }

  
   .padding{
    
    padding-top: 10rem;
    padding-bottom: 10rem;

 }

 .padding_2{
     padding-top: 2rem;
     padding-bottom: 2rem;
 }

   .size_font{
    font-size: 70px !important;
    text-shadow: 3px 3px 3px rgba(0, 0, 0.0, 0.1);
   
   }
   p{
       font-size: 25px;
   }

  li{
      font-size: 19px;
  }
  
  .sec_color{

      background-image: linear-gradient(#0077b6,#40c5ef);
  }

  
 .text-color{
     color: #f8f9fd !important;
 }

.section_color{
    background-color: #023047;
}

.div_goals{
   
    padding: 2rem;
    padding-left: 12em;
   

}

.sec_postion{
    display: flex;
    text-align: center !important;
    
    
}

Form{
    display: grid;
    
}

.feild{
    width: 25rem;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    outline: none;
    margin-bottom: 10px;
    border: solid;
    border-radius: 1rem;
    border-width: 0.02rem;
    border-color: #0077b6;
    transition: .3s !important;

}

 
 .feild:hover{
     background-color:#f8f9fd;
     
 }
 
 .feild:focus{
     background-color: #ffff;
 }
 .feild_area{
    width: 25rem;
    padding: 2.5rem 1rem;
    font-size: 1.1rem;
    outline: none;
    border: solid;
    border-radius: 1rem;
    border-width: 0.02rem;
    border-color: #0077b6;
    transition: .3s !important;
 }



.content{
    padding: 10rem;
    box-shadow: 7px 7px 7px rgba(0, 0, 0.0, 0.1);
    border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 12px;
   
  
}

.content2{

  padding: 10rem;
    box-shadow: 7px 7px 7px rgba(0, 0, 0.0, 0.1);
    flex-direction: row;
    border-radius: 10px;
   display: flex;

}

.contain_btn{
      
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
 .video{
   
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 10px;
    height: 30rem;

 }
 .card{
    display: grid;
     padding: 2rem;
   transform:  200ms ease-in;
   display: inline-grid;
   
    
    
 }
 .card_contaner{
    box-shadow: 7px 7px 7px rgba(0, 0, 0.0, 0.1) !important;
    border-radius: 10px !important;
    padding: 3rem;
  
   
 }


 .card_contaner2{
   box-shadow: 7px 7px 7px rgba(0, 0, 0.0, 0.1) !important;
   border-radius: 10px !important;
   padding: 3rem;
   
 
   
   

}

 .img{
   max-width: 50%;
   height: auto;
   

 }


.btn{
   
   box-shadow: 7px 7px 7px rgba(0, 0, 0.0, 0.1) !important;
   text-align: center;
   width: 12rem;
   background-color:#0077B6 !important;


}

.btn:hover{
    background-color:#40c5ef !important;
}


.buyer{
    margin-top: 30rem !important;
padding-top: 30rem;}
 



.footer{
    width: 100%;
    padding-top: 2rem;
   padding-left: 10rem;
   padding-right: 10rem;
   
  
}

.container_footer{
    margin: auto;
}

.row_footer{

    display: flex;
    flex-wrap:wrap ;
}
.col_footer{
   width: 40%;

}


.icon-footer  a{
 display: inline-block;
 width: 40px;
 transition:  all 0.5s ease  ;


}


  
  
  a:link {
     text-decoration: none;
     color: gray !important ;
   }
   
   a:visited {
     text-decoration: none !important;
   }
   
   a:hover, a:active {
     border-bottom: 0.02rem solid #579ebe ;
  
   }
  
   .showcase{
  height: 15rem !important;
  width: 21rem !important;
    
   }
  

   .div_right{
    position:relative;
     left: 25rem;
    


   }