*{
    font-family: "Montserrat Classic", "Roboto";
    padding: 0;
    margin: 0;
 }


    .logo{
     
     max-width: 25%;
      height: auto;
   
    }

  
   .navbar{
    float: right !important;
    
  
   }
 
 .text-color{
     color: #f8f9fd !important;
 }
 .bg_navbar{
     background-color: #0077B6 !important;
 }
   
 .mission_statement{
  
   box-shadow: 7px 7px 7px rgba(0, 0, 0.0, 0.1);
   background-image: linear-gradient(#023047,#0077B6);
   text-align: center;
   padding: 10rem;
  
 


 }
 
.content{
    padding: 10rem;
    box-shadow: 7px 7px 7px rgba(0, 0, 0.0, 0.1);
    border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 12px;
   
  
}

.content2{

  padding: 10rem;
    box-shadow: 7px 7px 7px rgba(0, 0, 0.0, 0.1);
    flex-direction: row;
    border-radius: 10px;
   display: flex;

}

.contain_btn{
      
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
 .video{
   
    width: 100% !important;
    object-fit: cover !important;
    border-radius: 10px;
    height: 30rem;

 }
 .card{
    display: grid;
     padding: 2rem;
   transform:  200ms ease-in;
   display: inline-grid;
   
    
    
 }
 .card_contaner{
    box-shadow: 7px 7px 7px rgba(0, 0, 0.0, 0.1) !important;
    border-radius: 10px !important;
    padding: 3rem;
  
   
 }


 .card_contaner2{
   box-shadow: 7px 7px 7px rgba(0, 0, 0.0, 0.1) !important;
   border-radius: 10px !important;
   padding: 3rem;
   
 
   
   

}

 .img{
   max-width: 50%;
   height: auto;
   

 }


.btn{
   
   box-shadow: 7px 7px 7px rgba(0, 0, 0.0, 0.1) !important;
   text-align: center;

}


.buyer{
    margin-top: 30rem !important;
padding-top: 30rem;}
 



.footer{
   padding: 2rem;
   display:inline-flex
   
  
}

.footer> div{

    display: flex;
    flex-direction: row;
    margin-left: 12rem;
    position:relative;
    font-size:x-small ;
   
  }
  
  
  a:link {
     text-decoration: none;
     color: gray !important ;
   }
   
   a:visited {
     text-decoration: none !important;
   }
   
   a:hover, a:active {
     border-bottom: 0.02rem solid #579ebe ;
  
   }
  
   .showcase{
  height: 15rem !important;
  width: 21rem !important;
    
   }
  